<table>
<tr><th>'Position'</th><th>'Team'</th>
<tr><td class='place'>1</td><td class ='teamName' name='Liverpool'>Liverpool</td></tr>
<tr><td class='place'>2</td><td class ='teamName' name='Leicester City'>Leicester City</td></tr>
<tr><td class='place'>3</td><td class ='teamName' name='Manchester City'>Manchester City</td></tr>
<tr><td class='place'>4</td><td class ='teamName' name='Chelsea'>Chelsea</td></tr>
<tr><td class='place'>5</td><td class ='teamName' name='Tottenham Hotspur'>Tottenham Hotspur</td></tr>
<tr><td class='place'>6</td><td class ='teamName' name='Sheffield United'>Sheffield United</td></tr>
<tr><td class='place'>7</td><td class ='teamName' name='Manchester United'>Manchester United</td></tr>
<tr><td class='place'>8</td><td class ='teamName' name='Wolverhampton Wanderers'>Wolverhampton Wanderers</td></tr>
<tr><td class='place'>9</td><td class ='teamName' name='Crystal Palace'>Crystal Palace</td></tr>
<tr><td class='place'>10</td><td class ='teamName' name='Newcastle United'>Newcastle United</td></tr>
<tr><td class='place'>11</td><td class ='teamName' name='Arsenal'>Arsenal</td></tr>
<tr><td class='place'>12</td><td class ='teamName' name='Burnley'>Burnley</td></tr>
<tr><td class='place'>13</td><td class ='teamName' name='Everton'>Everton</td></tr>
<tr><td class='place'>14</td><td class ='teamName' name='Southampton'>Southampton</td></tr>
<tr><td class='place'>15</td><td class ='teamName' name='Brighton and Hove Albion'>Brighton and Hove Albion</td></tr>
<tr><td class='place'>16</td><td class ='teamName' name='Bournemouth'>Bournemouth</td></tr>
<tr><td class='place'>17</td><td class ='teamName' name='West Ham United'>West Ham United</td></tr>
<tr><td class='place'>18</td><td class ='teamName' name='Aston Villa'>Aston Villa</td></tr>
<tr><td class='place'>19</td><td class ='teamName' name='Watford'>Watford</td></tr>
<tr><td class='place'>20</td><td class ='teamName' name='Norwich City'>Norwich City</td></tr>
</table>